# Export everything
# exportPattern("^[^\\.]")

export(multiMarker)

importFrom("stats", "rgamma", "runif", "sd", "var",
           "coef", "lm", "median", "quantile", "rnorm")
importFrom("truncnorm", "rtruncnorm")
importFrom("ordinalNet", "ordinalNet")
importFrom("utils", "flush.console")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

S3method("print", "multiMarker")
S3method("predict", "multiMarker")
